@mixin trans($time:3s, $delay:0s) {
  -webkit-transition: all $time $delay;
  -moz-transition: all $time $delay;
  -ms-transition: all $time $delay;
  -o-transition: all $time $delay;
  transition: all $time $delay;
}
.link{
  stroke-linecap: round;
}
.hd-link{
  //fill: none;
  //stroke: transparent;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-dasharray: 1000, 1000;
  stroke-dashoffset: 1000;
}
.node {
  text{
    //fill: black;
    //font-family: 'Indie Flower', cursive;
    //font-size: larger;
  }
}
.node:hover{
  cursor: pointer;
  circle{
    //-webkit-animation: backinout 0.4s 1 cubic-bezier(.79,.15,.9,.27);
    //-webkit-animation-delay: 0.15s;
    //animation: backinout 0.4s 1 cubic-bezier(.79,.15,.9,.27);
    //animation-delay: 0.15s;
  }
}
.node:hover ~ .hd-link{
  @include trans();
  stroke: #0d47a1;
  stroke-width: 3.5px;
  stroke-dashoffset: 0;
  //animation: dash 3s ease 1;
  stroke-linejoin: round;
}
.node:hover ~ .link{
  @include trans();
  stroke: #fff;
  //stroke-dasharray: 500, 500;
  //stroke-dashoffset: 500;
  stroke-linejoin: round;
}
@keyframes backinout {
  33%{
    opacity:0.75;
    r: 5px;
  }
  100%{
    opacity:1;
    r: 15px;
  }
}
// will cause bug
//@keyframes dash {
//  to {
//    stroke-dashoffset: 0;
//  }
//}

.canvas{
  position: relative;
}
.drawboard{
  position: relative;
}
.canvas-download{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  right: 30px;
  top: 40px;
  width: 45px;
  height: 45px;
  background-color: #f0f0f0;
  border-radius: 100%;
  cursor: pointer;
  @include trans();
  &:hover{
    background-color: dimgray;
    @include trans();
    i {
      color: #ffffff;
    }
  }
}