.checklist-btns {
  display: flex;
  position: relative;
  .checklist-btn {
    position: relative;
    margin: 0 5px;
    background-color: #2D2D2D;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: #1d1d1d;
    }
  }
}

.checklist {
  display: flex;
  flex: 1;
  width: 100%;
  flex-flow: column;
  padding: 10px 5px;
  background-color: lighten(dimgray, 5);
  .checklist-lists {
    display: flex;
    flex-flow: column;
    margin: 10px 0;
  }
}