@mixin trans($time:0.3s) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}

.dashboard {
  position: fixed;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: center;
  max-width: 40vw;
  z-index: 1099;
  background: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 50px;
  box-shadow: 0 0 2px silver;
  opacity: 0;
  @include trans();
  .dashboard-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding: 20px 50px;
    background-image: url("/imgs/profile-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 15px;
    .profile {
      position: relative;
      cursor: pointer;
      @include trans();
      opacity: 1;
      &:hover {
        @include trans();
        opacity: .88;
      }
      img {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 5px solid #ffffff;
      }
    }
  }
  .dashboard-right {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    flex: 5;
    padding: 20px 20px;
    .user {
      font-size: 35px;
      font-family: 'Shadows Into Light';
      padding: 5px 10px;
    }
    .figures {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 6;
      .figure-block {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        margin: 0 15px;
        font-family: 'Tangerine';
        h2, h3 {
          margin: 0 0 0 0;
        }
        span {
          font-size: 20px;
        }
      }
    }
    .splitter {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 15px;
      line-height: 15px;
      vertical-align: middle;
      letter-spacing: 5px;
      border-top: 2px solid #000000;
      border-bottom: 2px solid #000000;
    }
  }
}

.dashboard.visible {
  @include trans();
  opacity: 1;
}